<!DOCTYPE html>
<html ng-app="RefeicoesApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nova Pessoa</title>
    <script src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body ng-controller="PessoaController as ctrl">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Controle de Refeição</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="index.html">Início</a>
                </li>
                <li>
                    <a href="Pessoas.html">Pessoas</a>
                </li>
                <li>
                    <a href="Instituicoes.html">Instituições</a>
                </li>
                <li>
                    <a href="NovaRefeicao.html">Nova Refeição</a>
                </li>
            </ul>
        </nav>        
        <!-- Page Content Holder -->
        <div id="content">
            <div class="container-fluid">
                <div class="form-group col-xs-6 col-xs-offset-3">
                    <h2 class="form-signin-heading">Nova pessoa.</h2>  
                </div>
                <form class="form-signin">
                    <div class="form-group col-xs-6 col-xs-offset-3">
                        <label for="inputNome" class="sr-only">Nome</label>
                        <input type="name" id="inputNome" name="nome" ng-model="ctrl.pessoa.nome" class="form-control" placeholder="Nome" required >
                    </div>
                    <div class="form-group col-xs-6 col-xs-offset-3">
                        <label for="inputEmail" class="sr-only">E-mail</label>
                        <input type="email" id="inputEmail" name="email" ng-model="ctrl.pessoa.email" class="form-control" placeholder="E-mail" required>  
                    </div>                    
                    <div class="form-group col-xs-6 col-xs-offset-3">
                        <label for="inputCelular" class="sr-only">Celular</label>
                        <input type="text" id="inputCelular" name="celular" ng-model="ctrl.pessoa.celular" class="form-control" placeholder="Celular" pattern="\([0-9]{2}\)[0-9]{4,6}-[0-9]{3,4}$" required>
                    </div>                    
                    <!-- busca as instituições e setar no select -->
                    <div class="form-group col-xs-6 col-xs-offset-3" ng-controller="ListInstituicaoController as ctrlInst">
                        <label for="selectInstituicao" class="sr-only">Instituição</label>                       
                        <select ng-model="ctrl.pessoa.idInstituicao" ng-options="inst.id as inst.nome for inst in ctrlInst.instituicoes"
                        class="form-control">
                            <option value="">Selecione uma instituição</option>                                    
                        </select>
                    </div>      
                    <div class="form-group col-xs-6 col-xs-offset-3">            
                        <button class="btn btn-lg btn-success btn-block" ng-click="ctrl.save()">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
</body>
</html>