<!DOCTYPE html>
<html ng-app="RefeicoesApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nova Refeição</title>
    <script src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style2.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body ng-controller="RefeicaoController as ctrl">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Controle de Refeição</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="index.html">Início</a>
                </li>
                <li>
                    <a href="Pessoas.html">Pessoas</a>
                </li>
                <li>
                    <a href="Instituicoes.html">Instituições</a>
                </li>
                <li>
                    <a href="NovaRefeicao.html">Nova Refeição</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <div class="container-fluid">
                <form class="form-signin">
                    <div class="form-group col-xs-6 col-xs-offset-3">
                        <h2 class="form-signin-heading">Nova refeição.</h2>
                    </div>                    
                    <div class="form-group col-xs-6 col-xs-offset-3">
                        <label for="inputDesc" class="sr-only">Descrição</label>
                        <input type="text" id="inputDesc" name="descricao" ng-model="ctrl.refeicao.descricao" class="form-control" placeholder="Descrição da refeição" required autofocus>
                    </div>
                    <div class="form-group col-xs-6 col-xs-offset-3">
                        <label for="inputData" class="sr-only">Data da Refeição</label>
                        <input type="date" id="inputDataRefeicao" class="form-control" name="dataRefeicao" ng-model="ctrl.refeicao.dataRefeicao" required>
                    </div>
                    <div class="form-group col-xs-6 col-xs-offset-3" ng-controller="ListInstituicaoController as ctrlInst">
                        <label for="selectInstituicao" class="sr-only">Instituição</label>                       
                        <select ng-model="ctrl.refeicao.idInstituicao" ng-options="inst.id as inst.nome for inst in ctrlInst.instituicoes"
                        class="form-control">
                            <option value="">Selecione uma instituição</option>
                        </select>
                    </div>     
                    <div class="form-group col-xs-6 col-xs-offset-3">
                        <label for="exampleInputFile">Foto da Refeição</label>
                        <input type="file" name="foto" id="foto" fileread="ctrl.refeicao.imagem" required>
                    </div>
                    <div class="form-group col-xs-6 col-xs-offset-3"> 
                        <button class="btn btn-lg btn-success btn-block" ng-click="ctrl.save()">Salvar</button>
                    </div>                
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>